extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 CHHAYKUN LAI

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have 3 years experiences working on web developement.
            | And continue to work on demandware for 1 year.
            | Moreover I just started training on jumpstart for full stack.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li NodeJS
          li Express
          li ASP.Net MVC
          li PHP
        h6 Contact Info

        ul
          li (855) 93 291 910
          li lai.chhaykun@osf-commerce.com

        a.button.expanded(href='https://www.linkedin.com/in/chhaykun-lai-6849b0b3/') LinkedIn
        a.button.expanded(href='https://github.com/chhaykunlai') GitHub
        a.button.expanded(href='https://twitter.com/Chhaykun') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  